*{
    margin: 0;
    padding: 0%
}

body{
    font-family: 'Josefin Sans', sans-serif;
}
;
.cabecalho{
    background-color:#3169c2;
    color: rgb(10, 5, 5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 24px 0;
}
    
.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24pxs;
}

.imagem-escola{
    width: 500px;
}

.escola-icone{
    width: 24px;
}

.estudante-div{
text-align: center;
}